.form{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 250px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform:uppercase ;
}

h1,h2{
  margin: 0 auto;
}

h2{
  padding-top: 10px;
}

button{
  background-color: #4B88A2;
  font-weight: 700;
  text-transform: uppercase;
}

.flexContainer{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
}
.buttonRegister{
  margin: 0 auto;
  margin-top: 10px;
}